nav, section, ul, li, a, h1, h3, p, span, body {
    font-family: 'Helvetica Neue' !important;
    font-weight: 200 !important;
}

.topbar {
    background-color: rgba(0,0,0,0.5);
}

input.forminput{
    font-family: 'Helvetica Neue' !important;
    font-weight: 200 !important;
    color: #444;
}

.row.customspacing1 {
    margin-top: 1em;
}

.icon_delete, .icon_edit {
    float: right;
    padding-right: 0.25em;
}

.icon_delete:hover {
    color: #ff0800;
    text-shadow: 0 0 5px #ff8e8d;
    cursor: pointer;
}
.icon_edit:hover {
    color: #ff9b00;
    text-shadow: 0 0 5px #ffda7e;
    cursor: pointer;
}
